language: generic

matrix:
  include:
    - os: linux
      name: Linux Trusty
      dist: trusty
      sudo: required
    - os: osx
      name: macOS
      osx_image: xcode10.3

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      eval "$(curl -sL https://swiftenv.fuller.li/install.sh)";
      swiftenv install 5.0;
      swiftenv local 5.0;
    fi
  - swift --version

script:
  - swift test --enable-test-discovery
  - swift test --parallel --enable-test-discovery
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      swift package generate-xcodeproj --enable-code-coverage;
      xcodebuild -scheme System-Package test;
    fi

after_success:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      bash <(curl -s https://codecov.io/bash);
    fi
